.navigation {
    list-style: none;
    margin: 0;
    background: #0086b3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    cursor: pointer;
    transition: 2s;
}

.navigation a:hover {
    background: #00b7f5;
    transition: 0.1s;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}
@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

table {
    margin: 5vh;
    margin-left: calc((100vw - (90vmin - 48px))/2);
    margin-right: calc((100vw - (90vmin - 48px))/2);
    position: absolute;
    table-layout: fixed;
    width: calc(90vmin - 48px);
    height: calc(90vmin - 48px);
}

tr {
}

td {
    border: 3px solid #0086b3;
    border-collapse: collapse;
    cursor: pointer;
    transition: 2s;
}

td:hover{
    background-color: #80dfff;
    transition: 0.1s;
    z-index:10;
}

img {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    margin-top: 25px;
    color: #0086b3;
    text-align: center;
    font-family: verdana;
    font-size: 300%;

}
h2 {
    margin-top: 25px;
    color: #0086b3;
    text-align: center;

    font-family: verdana;
    font-size: 250%;

}